body {
    margin: 0;
    padding: 0;
}

#snowflakes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: #fff; /* Цвет снега */
    font-size: 1em;
    opacity: 0.8;
    user-select: none;
    transition: opacity 2s ease-out, transform 2s ease-out;
}

#ground {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgba(40, 40, 48, 0);
    overflow: hidden;
    z-index: 1;
}

.ground-snowflake {
    position: absolute;
    color: #fff;
    font-size: 1em;
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.sidebar {
    display: none; /* Скрываем пока не загрузится скрипт */
    transition: transform 0.3s ease;
    width: 270px;
    background-color: rgba(40, 40, 48, 0.8); /* Чуть темнее и прозрачность 90% */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    transform: translateX(0); /* По умолчанию открыта на ПК */
}

.sidebar.loaded {
    display: block; /* Отображаем, если скрипт разрешил */
}
.sidebar.closed {
    transform: translateX(-100%); /* Скрыта */
}

.menu-toggle {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1100;
    background: #212529;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.main-content {
    margin-left: 280px;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}
.main-content.full-width {
    margin-left: 0; /* Полная ширина при закрытой панели */
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }
    .sidebar.open {
        transform: translateX(0);
    }
    .main-content {
        margin-left: 0;
    }
}
.nav-pills{
    --bs-nav-pills-border-radius: 0.375;
    --bs-nav-pills-link-active-bg: #8b00ff;
}

:root {
    --bs-dark-rgb: 31, 31, 37;
    
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.custom-background {
    position: relative;
    background-image: url('/static/base/images/java_shadow.png');
    background-size: auto 825px; /* Покрывает всю область */
    background-repeat: no-repeat; /* Запрещает повторение */
    background-attachment: fixed;
    background-position: calc(50% + 300px) 0; /* Меньший сдвиг при уменьшении экрана */
    z-index: 1; /* Позиционирует слой позади текста */
    transition: background-position 0.3s ease; /* Плавный переход */
}

.menu-toggle:focus {
    outline: none;
}

.custom-background .py-5 {
    position: relative;
    z-index: 2; /* Текст отображается поверх фона */
}

@media (max-width: 1920px) {
    .custom-background {
        background-position: calc(50% + 550px) 145px;
    }
}

@media (max-width: 1200px) {
    .custom-background {
        background-position: calc(50% + 285px) 145px; /* Меньший сдвиг при уменьшении экрана */
    }
}

@media (max-width: 900px) {
    .custom-background {
        background-position: calc(50% + 285px) 145px; /* Меньший сдвиг при уменьшении экрана */
    }
}

@media (max-width: 768px) {
    .custom-background {
        background-position: calc(50% + 160px) 145px; /* Ещё меньший сдвиг */
    }
}

@media (max-width: 480px) {
    .custom-background {
        background-position: center 145px; /* Центровка без дополнительного сдвига */
    }
}