body {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --bs-dark-rgb: 31, 31, 37;
}

#snowflakes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: #fff; /* Цвет снега */
    font-size: 1em;
    opacity: 0.8;
    user-select: none;
    transition: opacity 2s ease-out, transform 2s ease-out;
}

#ground {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgba(40, 40, 48, 0);
    overflow: hidden;
    z-index: 1;
}

.ground-snowflake {
    position: absolute;
    color: #fff;
    font-size: 1em;
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.sidebar {
    display: none; /* Скрываем пока не загрузится скрипт */
    transition: transform 0.3s ease;
    width: 270px;
    min-width: 270h; /* Минимальная ширина */
    max-width: 100%; /* Не позволяет выходить за пределы экрана */
    background-color: rgba(40, 40, 48, 0.8); /* Чуть темнее и прозрачность 90% */
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    transform: translateX(0); /* По умолчанию открыта на ПК */
    max-height: 100vh; /* Ограничиваем высоту сайдбара */
    overflow-y: auto; /* Добавляем прокрутку, если контент не помещается */
    display: flex; /* Для гарантированного растягивания содержимого */
    flex-direction: column; /* Чтобы содержимое шло сверху вниз */
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2); /* Цвет ползунка */
    border-radius: 4px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2); /* Цвет трека */
}

.sidebar.loaded {
    display: block; /* Отображаем, если скрипт разрешил */
}

.sidebar.closed {
    transform: translateX(-100%); /* Скрыта */
}

.btn-outline-primary{
    --bs-btn-color: #ffffff;
}

.btn {
    border-radius: 55px;
}

.btn:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
.btn:active {
    transform: scale(0.8);
    transition: transform 0.1s ease-in-out;
}

.menu-toggle {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1100;
    background: #212529;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.main-content {
    margin-left: 280px;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}

.main-content.full-width {
    margin-left: 0; /* Полная ширина при закрытой панели */
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }
    .sidebar.open {
        transform: translateX(0);
    }
    .main-content {
        margin-left: 0;
    }
}

.table-dark {
    --bs-table-bg: rgba(0, 0, 0, 0.4); /* прозрачность на таблицы */
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.menu-container {
    max-height: 300px; /* Настройте высоту по вашему усмотрению */
    overflow-y: auto;
}

.custom-background {
    position: relative;
    background-image: url('/static/base/images/java_shadow.png');
    background-size: auto 825px; /* Покрывает всю область */
    background-repeat: no-repeat; /* Запрещает повторение */
    background-attachment: fixed;
    background-position: calc(50% + 300px) 0; /* Меньший сдвиг при уменьшении экрана */
    z-index: 1; /* Позиционирует слой позади текста */
    transition: background-position 0.3s ease; /* Плавный переход */
}

.menu-toggle:focus {
    outline: none;
}

.card {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: justify; /* Выравнивание текста по ширине */
    word-wrap: break-word; /* Перенос длинного текста */
}

.card h2 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #ffffff;
    text-align: left; /* Заголовки остаются выровненными по левому краю */
}

.card p {
    margin: 5px 0;
    font-size: 14px;
    color: #ffffff;
    word-wrap: break-word; /* Перенос слов, если они длиннее ширины контейнера */
    word-break: break-word; /* Альтернативный способ для совместимости */
    overflow-wrap: break-word; /* Современное свойство для переноса */
}

.card p strong {
    color: #ffffff;
}

.custom-background .py-5 {
    position: relative;
    z-index: 2; /* Текст отображается поверх фона */
}

@media (max-width: 1920px) {
    .custom-background {
        background-position: calc(50% + 550px) 145px;
    }
}

@media (max-width: 1200px) {
    .custom-background {
        background-position: calc(50% + 285px) 145px; /* Меньший сдвиг при уменьшении экрана */
    }
}

@media (max-width: 900px) {
    .custom-background {
        background-position: calc(50% + 285px) 145px; /* Меньший сдвиг при уменьшении экрана */
    }
}

@media (max-width: 768px) {
    .custom-background {
        background-position: calc(50% + 160px) 145px; /* Ещё меньший сдвиг */
    }
}

@media (max-width: 480px) {
    .custom-background {
        background-position: center 145px; /* Центровка без дополнительного сдвига */
    }
}