<div class="custom-background text-primary text-center px-4 py-1" data-title="Общая статистика">
    <div class="py-3">
        <h1 class="display-5 fw-bold text-white">Общая статистика</h1>
        <div class="d-flex mx-auto flex-column align-items-center col-lg-8">
            <div class="text-center mb-3">
                <img src="{{ annual_salary_chart }}" class="img-fluid mb-4">
                <div class="mt-3">{{ annual_salary_data|safe }}</div>
            </div>
            <div class="text-center mb-3">
                <img src="{{ annual_vacancy_chart }}" class="img-fluid mb-4">
                <div class="mt-3">{{ annual_vacancy_data|safe }}</div>
            </div>
            <div class="text-center mb-3">
                <img src="{{ city_salary_chart }}" class="img-fluid mb-4">
                <div class="mt-3">{{ city_salary_data|safe }}</div>
            </div>
            <div class="text-center mb-3">
                <img src="{{ city_vacancy_share_chart }}" class="img-fluid mb-4">
                <div class="mt-3">{{ city_vacancy_share_data|safe }}</div>
            </div>
            <div class="text-center mb-3">
                <img src="{{ top_skills_2015_chart }}" class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2015_data|safe }}</div>
            </div>
            <div class="text-center mb-3">
                <img src="{{ top_skills_2016_chart }}" class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2016_data|safe }}</div>
            </div>
            <div class="text-center mb-3">
                <img src="{{ top_skills_2017_chart }}" class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2017_data|safe }}</div>
            </div>
            <div class="text-center mb-3">
                <img src="{{ top_skills_2018_chart }}" class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2018_data|safe }}</div>
            </div>
            <div class="text-center mb-3">
                <img src="{{ top_skills_2019_chart }}" class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2019_data|safe }}</div>
            </div>
            <div class="text-center mb-3">
                <img src="{{ top_skills_2020_chart }}" class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2020_data|safe }}</div>
            </div>
            <div class="text-center mb-3">
                <img src="{{ top_skills_2021_chart }}"class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2021_data|safe }}</div>
            </div>
            <div class="text-center mb-3">
                <img src="{{ top_skills_2022_chart }}" class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2022_data|safe }}</div>
            </div>
            <div class="text-center mb-3">
                <img src="{{ top_skills_2023_chart }}" class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2023_data|safe }}</div>
            </div>
            <div class="text-center mb-3">
                <img src="{{ top_skills_2024_chart }}" class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2024_data|safe }}</div>
            </div>
        </div>
    </div>
</div>