{% extends 'base.html' %}

{% block title %}
    📊 Общая статистика
{% endblock %}

{% block content %}
    <div class="custom-background text-primary px-5 py-3 text-center">
        <h1 class="display-5 fw-bold text-white">Общая статистика</h1>
        <div class="col-lg-8 mx-auto d-flex flex-column align-items-center">

            <div class="text-center mb-3">
                <img src="{{ annual_salary_chart }}" alt=""  class="img-fluid mb-4">
                <div class="mt-3">{{ annual_salary_data|safe }}</div>
            </div>

            <div class="text-center mb-3">
                <img src="{{ annual_vacancy_chart }}" alt=""  class="img-fluid mb-4">
                <div class="mt-3">{{ annual_vacancy_data|safe }}</div>
            </div>

            <div class="text-center mb-3">
                <img src="{{ city_salary_chart }}" alt=""  class="img-fluid mb-4">
                <div class="mt-3">{{ city_salary_data|safe }}</div>
            </div>

            <div class="text-center mb-3">
                <img src="{{ city_vacancy_share_chart }}" alt=""  class="img-fluid mb-4">
                <div class="mt-3">{{ city_vacancy_share_data|safe }}</div>
            </div>

            <div class="text-center mb-3">
                <img src="{{ top_skills_2015_chart }}" alt=""  class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2015_data|safe }}</div>
            </div>

            <div class="text-center mb-3">
                <img src="{{ top_skills_2016_chart }}" alt=""  class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2016_data|safe }}</div>
            </div>

            <div class="text-center mb-3">
                <img src="{{ top_skills_2017_chart }}" alt=""  class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2017_data|safe }}</div>
            </div>

            <div class="text-center mb-3">
                <img src="{{ top_skills_2018_chart }}" alt=""  class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2018_data|safe }}</div>
            </div>

            <div class="text-center mb-3">
                <img src="{{ top_skills_2019_chart }}" alt=""  class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2019_data|safe }}</div>
            </div>

            <div class="text-center mb-3">
                <img src="{{ top_skills_2020_chart }}" alt=""  class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2020_data|safe }}</div>
            </div>

            <div class="text-center mb-3">
                <img src="{{ top_skills_2021_chart }}" alt=""  class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2021_data|safe }}</div>
            </div>

            <div class="text-center mb-3">
                <img src="{{ top_skills_2022_chart }}" alt=""  class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2022_data|safe }}</div>
            </div>

            <div class="text-center mb-3">
                <img src="{{ top_skills_2023_chart }}" alt=""  class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2023_data|safe }}</div>
            </div>

            <div class="text-center mb-3">
                <img src="{{ top_skills_2024_chart }}" alt=""  class="img-fluid mb-4">
                <div class="mt-3">{{ top_skills_2024_data|safe }}</div>
            </div>
        </div>
    </div>
{% endblock %}