{% extends 'base.html' %}
{% block title %}
    📈 Востребованность
{% endblock %}
{% block content %}
    <div class="custom-background text-center text-secondary px-5 py-3">
        <h1 class="text-white fw-bold">Востребованность</h1>
        <div class="d-flex flex-column align-items-center mx-auto">
            <div class="text-center mb-3">
                <img src="{{ annual_salary_chart }}" class="img-fluid mb-4">
                <div class="mt-3">{{ annual_salary_data|safe }}</div>
            </div>

            <div class="text-center mb-3">
                <img src="{{ annual_vacancy_chart }}" class="img-fluid mb-4">
                <div class="mt-3">{{ annual_vacancy_data|safe }}</div>
            </div>
        </div>
    </div>
{% endblock %}