{% extends 'base.html' %}
{% block title %}
    📚 Навыки
{% endblock %}
{% block content %}
<div class="custom-background text-primary px-5 py-3 text-center">
    <h1 class="fw-bold text-white">Навыки</h1>
    <div class="col-lg-8 mx-auto d-flex flex-column align-items-center">
        <div class="text-center mb-3">
            <img src="{{ graph_top20_sks_java_2015_url }}" alt=""  class="img-fluid mb-4">
            <div class="mt-3">{{ data_table_top20_sks_java_2015|safe }}</div>
        </div>

        <div class="text-center mb-3">
            <img src="{{ graph_top20_sks_java_2016_url }}" alt=""  class="img-fluid mb-4">
            <div class="mt-3">{{ data_table_top20_sks_java_2016|safe }}</div>
        </div>

        <div class="text-center mb-3">
            <img src="{{ graph_top20_sks_java_2017_url }}" alt=""  class="img-fluid mb-4">
            <div class="mt-3">{{ data_table_top20_sks_java_2017|safe }}</div>
        </div>

        <div class="text-center mb-3">
            <img src="{{ graph_top20_sks_java_2018_url }}" alt=""  class="img-fluid mb-4">
            <div class="mt-3">{{ data_table_top20_sks_java_2018|safe }}</div>
        </div>

        <div class="text-center mb-3">
            <img src="{{ graph_top20_sks_java_2019_url }}" alt=""  class="img-fluid mb-4">
            <div class="mt-3">{{ data_table_top20_sks_java_2019|safe }}</div>
        </div>

        <div class="text-center mb-3">
            <img src="{{ graph_top20_sks_java_2020_url }}" alt=""  class="img-fluid mb-4">
            <div class="mt-3">{{ data_table_top20_sks_java_2020|safe }}</div>
        </div>

        <div class="text-center mb-3">
            <img src="{{ graph_top20_sks_java_2021_url }}" alt=""  class="img-fluid mb-4">
            <div class="mt-3">{{ data_table_top20_sks_java_2021|safe }}</div>
        </div>

        <div class="text-center mb-3">
            <img src="{{ graph_top20_sks_java_2022_url }}" alt=""  class="img-fluid mb-4">
            <div class="mt-3">{{ data_table_top20_sks_java_2022|safe }}</div>
        </div>

        <div class="text-center mb-3">
            <img src="{{ graph_top20_sks_java_2023_url }}" alt=""  class="img-fluid mb-4">
            <div class="mt-3">{{ data_table_top20_sks_java_2023|safe }}</div>
        </div>

        <div class="text-center mb-3">
            <img src="{{ graph_top20_sks_java_2024_url }}" alt=""  class="img-fluid mb-4">
            <div class="mt-3">{{ data_table_top20_sks_java_2024|safe }}</div>
        </div>
    </div>
</div>
{% endblock %}